<h2 style="margin-left:10%;">Nested Form</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(f)" #f="ngForm" class="form">
  <div>
    <h3><label for="a">A :</label>
    <input type="checkbox" class="checkmark" formControlName="a"></h3>
    <h3><label for="b">B :</label>
    <input type="number" formControlName="b"></h3>
    <h3><label for="c">C :</label>
    <input type="text" formControlName="c"  placeholder="C"></h3>
  </div>
  <h3><label for="d">D :</label><button class="button" type="button" (click)="addNewD()"> Add D </button></h3>
  <div formArrayName="d">
    <div *ngFor="let D of myForm.get('d').controls; let i=index">
      <fieldset>
        <h3>D{{i+1}}:<button type="button" class="button" (click)="deleteD(i)"> Remove Me!</button></h3>
         <div [formGroupName]="i">
           <h3><label for="e">E :</label><input type="text" placeholder="E" formControlName="e"></h3>
             <h3><label for="f">F :</label><button  type="button" class="button" (click)="addNewF(D.controls.f)"> Add New F</button></h3>
          <div formArrayName="f">
           <div *ngFor="let F of D.get('f').controls; let j=index">
            <fieldset>
             <h3>F {{j+1}}:<button type="button" class="button" (click)="deleteF(D.controls.f, j)">
                 Remove Me!</button></h3>
                  <div [formGroupName]="j">
                      <label for="g">G :</label>
                        <button type="button" class="button" (click)="addNewG(F.controls.g)"> Add New G
                        </button>
                        <div formArrayName="g">
                        <div *ngFor="let G of F.get('g').controls; let k=index">
                          <fieldset>
                          <h3>G {{k+1}}:<button  type="button" class="button" (click)="deleteG(F.controls.g, k)"> Remove Me!</button></h3>
                          <div [formGroupName]="k">
                           <label for="h">H :</label>
                           <button type="button" class="button" (click)="addNewH(G.controls.h)"> Add New H</button>
                          <div formArrayName="h">
                          <div  *ngFor="let H of G.get('h').controls; let l=index">
                            <fieldset>
                          <h3>H {{l+1}}:<button type="button" class="button" (click)="deleteH(G.controls.h, l)">Remove Me!</button></h3>
                          <div [formGroupName]="l">
                              <label for="i">I :</label>
                              <input type="text" class="string" formControlName="i">
                              <label for="j">J :</label>
                              <input type="checkbox" class="checkmark" formControlName="j">
                              <label for="k">K :</label>
                              <input type="text" class="number" formControlName="k">
                              <label for="l">L :</label>
                              <input type="text" class="string" formControlName="l">
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  </div>
                </div>
              </div>
          </fieldset>
        </div>
        </div>
      </div>
      </fieldset>
    </div>
  </div>
  <button type="submit" class="button">Submit</button>
  <button type="button" class="button" >Cancel</button>
</form>
<h2>My Value</h2>
 <pre>{{myForm.value | json}}</pre>


