<h2>Nested Form</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="a">A :</label>
    <input type="checkbox" class="checkmark" formControlName="a">
    <label for="b">B :</label>
    <input type="number" class="number" formControlName="b">
    <label for="c">C :</label>
    <input type="text" class="string" formControlName="c">
  </div>
  <label for="d">D :</label>
    <button style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-primary btn-sm" (click)="addNewD()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add D
    </button>
  <div formArrayName="d">
    <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let D of myForm.get('d').controls; let i=index">
      <fieldset>
        <legend><h4>D {{i+1}}:<button style="margin-left:35px;" type="button" class="btn btn-danger" (click)="deleteD(i)"><span class="glyphicon glyphicon-minus"aria-hidden="true"></span> Remove D</button></h4></legend>
        <div [formGroupName]="i">
          <div class="form-inline">
            <div class="form-group">
              <label style="margin-right:80px;" class="col-form-label" for="e">E :</label>
              <input type="text"
                     class="form-control"
                     id="city"
                     placeholder="E"
                     name="type"
                     formControlName="e" 
                     style="margin-right:5px;" 
                     required>
              <label for="f">F :</label>
              <button style="margin-right:5px;"  type="button" class="btn btn-success btn-sm" (click)="addNewF(D.controls.f)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New F
              </button>
            </div>
          </div>
        <div formArrayName="f">
          <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let F of D.get('f').controls; let j=index">
          <legend><h4>F {{j+1}}:<button style="margin-left:35px;" type="button" class="btn btn-danger" (click)="deleteF(D.controls.f, j)">
                <span class="glyphicon glyphicon-minus"aria-hidden="true"></span> Remove E</button></h4></legend>
                  <div [formGroupName]="j">
                   <div class="form-inline">
                    <div class="form-group">
                      <label for="g">G :</label>
                        <button style="margin-right:5px;"  type="button" class="btn btn-success btn-sm" (click)="addNewG(F.controls.g)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New G
                        </button>
                      </div>
                    </div>
                        <div formArrayName="g">
                        <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let G of F.get('g').controls; let k=index">
                          <legend><h4>G {{k+1}}:<button style="margin-left:35px;" type="button" class="btn btn-danger" (click)="deleteG(F.controls.g, k)">
                             <span class="glyphicon glyphicon-minus"aria-hidden="true"></span> Remove G
                          </button></h4></legend>
                          <div [formGroupName]="k">
                          <div class="form-inline">
                            <div class="form-group">
                           <label for="h">H :</label>
                              <button style="margin-right:5px;"  type="button" class="btn btn-success btn-sm" (click)="addNewH(G.controls.h)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New H
                        </button>
                      </div>
                    </div>
                          <div formArrayName="h">
                          <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let H of G.get('h').controls; let l=index">
                          <legend><h4>H {{l+1}}:<button style="margin-left:35px;" type="button" class="btn btn-danger" (click)="deleteH(G.controls.h, l)">
                            <span class="glyphicon glyphicon-minus"aria-hidden="true"></span> Remove H
                          </button></h4></legend>
                          <div [formGroupName]="l">
                          <div class="form-inline">
                            <div class="form-group">
                              <label for="i">I :</label>
                              <input type="text" class="string" formControlName="i">
                              <label for="j">J :</label>
                              <input type="checkbox" class="checkmark" formControlName="j">
                              <label for="k">K :</label>
                              <input type="text" class="number" formControlName="k">
                              <label for="l">L :</label>
                              <input type="text" class="string" formControlName="l">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </fieldset>
    </div>
  </div>

  
  <button type="submit" class="btn btn-success">Submit</button>
  <button type="button" class="btn btn-basic" >Cancel</button>
</form>

 <pre>{{myForm.value | json}}</pre>


